<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <div class="logo"></div>
    <% end %>
    <button class="navbar-toggler ms-auto" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Create New List", new_list_path,
                      class: "btn btn-outline-primary" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="banner text-white">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Movie Categories</h1>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @lists.each do |list| %>
        <div class="column">
          <div class="card text-white h-100">
            <% if list.photo.attached? %>
              <%= cl_image_tag list.photo.key, class: "card-img", alt: list.name %>
            <% else %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU',
              class: "card-img", alt: list.name %>
            <% end %>
            <div class="card-img-overlay d-flex align-items-end p-0">
              <%= link_to list_path(list),
                data: { turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete?" },
                class: 'card-remove-link' do %>
                <i class="fa-solid fa-square-minus"></i>
              <% end %>
              <%= link_to list.name, list_path(list),
              class: "w-100 text-center py-2 bg-dark bg-opacity-75 text-decoration-none text-white h5 m-0" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
