<div class="container">
  <h1><%= "#{@list.name}" %></h1>
  <%= link_to lists_path, class: "btn btn-outline-secondary" do %>
    <i class="fa-solid fa-arrow-left me-2"></i>
    Back To All Lists
  <% end %>
  <div class="mb-4">
    <h4>Bookmark</h4>
    <% if @list.bookmarks.any? %>
      <ul class="list-group mb-3">
        <% @list.bookmarks.each do |bookmark| %>
          <%= render 'bookmarks/card', bookmark: bookmark %>
          <li class="list-group-item">
            <p class="mb-1"><%= bookmark.comment %></p>
            <small class="text-muted">
            </small>
            <%= link_to bookmark_path(bookmark),
          data: { turbo_method: :delete,
          turbo_confirm: "Are you sure you want to delete?" },
          class: 'card-remove-link' do %>
              <i class="fa-solid fa-square-minus"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">No bookmarks yet.</p>
    <% end %>
    <div class="d-grid mb-3">
      <%= link_to "Add a bookmark",
  new_list_bookmark_path(@list),
  class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
